* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.header-div{
    height: 100px;
    max-width: 100%;
    margin: auto;
}

.nav-cv{
    background-color: blueviolet;
    height: 100px;
}

.ul-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
}

.li-ul-nav{
    list-style: none;
    margin: auto;
}

.a-li-ul-nav{
    text-decoration: none;
    color: white;
line-height: 100px;
font-size: 20px;
text-transform: uppercase;
}
.a-li-ul-nav:hover{
    color: black;
}